@tailwind base;
@tailwind components;
@tailwind utilities;

/* 사용자 정의 클래스 */
@layer utilities {
  .full-height {
    height: calc(var(--vh) * 100); /* 전체 화면 높이 */
  }

  .full-height-offset {
    height: calc(var(--vh-offset) * 1); /* 70px 뺀 높이 */
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 10px;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* 미디어 쿼리 */
@media (max-width: 640px) {
  @layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
      width: 4px;
    }
  }
}

@media (max-width: 450px) {
  @layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
      width: 3px;
    }
  }
}
